/*Engage Now button*/
#engageBtn{
	text-transform: none;        /*Prevents button default capitalizes*/
    border-radius: 5px;
     height: 40px;
    line-height: 40px;
    padding: 0 1rem;
}
#subscribeBtn{
	text-transform: none;
    border-radius: 5px;
    height: 30px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    line-height: 190%;
    width: 90px;

}
#addToCartBtn{
	text-transform: none;
    border-radius: 5px;
    height: 30px;
    width: 120px;
	padding-bottom: 15px;	  
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
/*#cartPadding{
	padding-top: 12px;
	line-height: 70%;
}*/
/*Section 6 background grey*/
#backgroundColorGrey{
    background-color: rgb(242, 242, 242);
}

/*Email as text box*/
#emailTextBox,#cartTextBox{
	border: 1px solid #b4b6ba;
	border-radius: 3px;
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;	
	height: 30px;
	background-color: white;
}

h3{
	color:#df8758 !important;
	text-align: center;
}
h4{
	text-align: center;
}

#logoColor{
		color: #df8758;
		padding-left: 50px;
}
.headerImg{
	background-image:url(../images/light_bulb.jpg); 
	position: relative;
	padding: 60px;
}
#headingPadding{
	padding-top: 20px; 
}

.Image1{
	background-image: url(../images/mung_beans.jpg);
	position: relative;       /*Use it to place text on image*/
	height: 200px;
  	background-size: cover; 	/*This uses full image in background*/
}
.Image2{
	background-image: url(../images/coffee_beans_1.jpg);
	position: relative;
	height: 200px;
	background-size: cover;
}
.Image3{
	background-image: url(../images/grapes.jpg);
	position: relative;
	height: 200px;
	background-size: cover;
}

.txt{
		text-align: center;
		color:white;
}
#map{
	border: 1px solid #b4b6ba; 
}
#mapImage{
	padding: 1px;
	width: 100%; 
}
#roundedImage{
	border-radius: 100%; 
	margin-left: 30%;
}
#menuIcons{
	padding-right:5px;
	font-weight: 500;
	text-decoration:none;
}
#headingShadow{
	text-shadow: 2px 2px 5px black;
}
#headingParaShadow{
	text-shadow: 2px 2px 5px black;
	padding-bottom:10px; 
}
#strikeThrough{
	text-decoration: line-through;
	color:#c1c5cc;
}
#rateColor{
		color:#ffb300;
}

#cardBorder{
	border:1px solid #b4b6ba;
	border-radius: 5px;
}
#cardHeading{
	color:#df8758;
}
#logoImg{
	height: 100px;       /*fire image*/
}
#sectionPara{
	text-align: center;
	padding-right: 90px;
}
#footerInfo{
	display: inline-block;
}
#lineHeight{
	line-height: 365%;
}
.cardContentCentering{
	padding: 5px;
}
#bottomContainer{
	 width: 90% !important;
	 margin-bottom: 30px;
	 padding-left: 20px;
}
#noUnderline{
	text-decoration: none;
}
#noUnderlineFooterInfo{
	text-decoration: none;
	color: orange;
}
#horizontalBar{
	color: grey;
}
#bottomMargin{
	margin-bottom: 30px;	
}
#darkenText{
	font-weight: 900;
}